[credential "https://github.com"]
	helper = 
	helper = !/Users/oneplusn/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/Users/oneplusn/.local/bin/gh auth git-credential
